$screen-ms: 480px;

$openSans: "Open Sans", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$roboto: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
