// Navbar Tweaks //////////////////////////////

header.navbar {
	background: #051112;
	border-width: 0 0 1px 0;
	border-color: #222;

	button.navbar-toggle {
		float: left;
		margin-right: 0;
		margin-left: 15px;
		border-color: #222;

		.icon-bar {
			background-color: #666;
		}

		&:hover {
			background-color: #333;
			.icon-bar {
				background-color: #111;
			}
		}
	}

	.solo-dropdown {
		border-left: 1px solid #222;
		border-right: 1px solid #222;
		padding-left: 8px;

		& > a {
			padding-left: 0;
			padding-right: 9px;
		}
	}

	li.server {
		border-right: 1px solid #222;
	}

	a.navbar-brand {
		font-size: 22px;
		font-weight: bold;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		transition: all .1s linear;

		div.logo {
			background: url(/img/nav-logo.png) no-repeat left center;
			padding-left: 24px;
			position: relative;
			top: 5px;

			div.text {
				position: relative;
				top: -2px;
			}
		}
	}

	.nav {
		.open {
			& > a,
			& > a:hover,
			& > a:focus {
				background-color: inherit;
			}
		}
	}

	.nav > li > a {
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		transition: all .1s linear;

		&:focus,
		&:hover {
			text-decoration: none;
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
			color: #FFF;
		}
	}

	.btn-navbar {
		float: left;
	}

	.navbar-collapse {
		border-color: #222;
		border-width: 0 0 1px 0;
	}
}

.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
	font-weight: normal;
}

.navbar-inverse .navbar-search .search-query {
	line-height: 20px;
}

.navbar .search-query {
	width: auto;
}
