@import 'bootstrap/variables';
@import 'bourbon/bourbon';

@import 'variables';
@import 'mixins';

.container-fluid {
	max-width: 1440px;
}

a:focus {
	outline: none;
	color: inherit;
}

// Settings
.settings-flash-message {
	position: absolute;
	width: 100%;
}

// Bootstrap Tweaks

.thumbnail > img,
.thumbnail > a > img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@import "nav";

// Social Media Buttons

#social-container {
	height: 67px;
}

#social-container > div {
	display: inline-block;
	margin-left: 5px;
	height: 67px;
}

#twitter-container {
	width: 58px;
}

#facebook-container {
	position: relative;
	width: 44px;
}
#googleplus-container {
	position: relative;
	top: -2px;
	width: 50px;
}


// Blog //////////////////////////////
.post img {
	width: 100%;
}

.rss-container {
	margin-top: 10px;
}

#disqus_thread {
	margin-top: 40px;
}


// Server summary //////////////////////////////

#continents {

	hr {
		border-color: hsl(0,0%,70%);
	}

	h2 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 24px;
	}

	.territory-control-bar {
		width: 100%;
		text-align: center;

		td {
			@include transition(all 0.1s linear);
		}

		div {
			padding: 10px;
		}

		.nc {
			background-color: hsl(204,100%,60%);
			margin-right: 2px;
		}
		.tr {
			background-color: hsl(0,75%,50%);
			margin-right: 2px;
		}
		.vs {
			background-color: hsl(272,70%,60%);
		}
	}

	.icon {
		background-image: url(/img/icons/sprites.png);
		pointer-events: none;
		height: 32px;
		width: 32px;
		display: inline-block;

		&.nc { background-position: -192px -33px; }
		&.tr { background-position: -192px -64px; }
		&.vs { background-position: -192px -96px; }

		&.warpgate { background-position: 0px 0px; }
		&.warpgate.nc { background-position: 0px -32px; }
		&.warpgate.tr { background-position: 0px -64px; }
		&.warpgate.vs { background-position: 0px -96px; }

		&.amp-station { background-position: -32px 0px; }
		&.amp-station.nc { background-position: -32px -32px; }
		&.amp-station.tr { background-position: -32px -64px; }
		&.amp-station.vs { background-position: -32px -96px; }

		&.bio-lab { background-position: -64px 0px; }
		&.bio-lab.nc { background-position: -64px -32px; }
		&.bio-lab.tr { background-position: -64px -64px; }
		&.bio-lab.vs { background-position: -64px -96px; }

		&.tech-plant { background-position: -96px 0px; }
		&.tech-plant.nc { background-position: -96px -32px; }
		&.tech-plant.tr { background-position: -96px -64px; }
		&.tech-plant.vs { background-position: -96px -96px; }

		&.large-outpost { background-position: -128px 0px; }
		&.large-outpost.nc { background-position: -128px -32px; }
		&.large-outpost.tr { background-position: -128px -64px; }
		&.large-outpost.vs { background-position: -128px -96px; }

		&.small-outpost { background-position: -160px 0px; }
		&.small-outpost.nc { background-position: -160px -32px; }
		&.small-outpost.tr { background-position: -160px -64px; }
		&.small-outpost.vs { background-position: -160px -96px; }

		&.forward-spawn { background-position: -96px -160px; }
		&.aircraft-terminal { background-position: 0px -128px; }
		&.galaxy-terminal { background-position: 0px -160px; }
		&.ground-vehicle-terminal { background-position: -32px -128px; }
		&.ground-transport-terminal { background-position: -32px -160px; }
		&.equipment-terminal { background-position: -64px -128px; }
		&.warpgate-terminal { background-position: -64px -160px; }
		&.spawn-beacon { background-position: -96px -128px; }
		&.vertical-shield-generator { background-position: -224px -32px; }
		&.horizontal-shield-generator { background-position: -224px -64px; }
		&.gate-shield-generator { background-position: -128px -128px; }
		&.spawn-control-unit { background-position: -128px -160px; }
		&.teleporter { background-position: -224px -96px; }
		&.spawn-tube { background-position: -224px -128px; }
		&.ammo-tower { background-position: -224px -160px; }
		&.landing-pad { background-position: -256px 0px; }
		&.scu-shield-generator { background-position: -160px -128px; }
		&.capture-point { background-position: -192px 0px; }
		&.aerospace { background-position: -192px -128px; }
		&.mechanized { background-position: -192px -160px; }
		&.infantry { background-position: -224px 0px; }
	}

	table {
		td.name {
			line-height: 32px;
		}
	}

	.table {
		.nc,.tr,.vs {
			background-image: url(../img/icons/sprites.png);
			height: 32px;
			width: 32px;
			display: inline-block;
		}
		.nc { background-position: -192px -33px; }
		.tr { background-position: -192px -64px; }
		.vs { background-position: -192px -96px; }

		th,td {
			text-align: center;
			&.left {
				text-align: left;
			}
		}
	}

	.territory {
		text {
			fill: white;
	    font: 28px 'Roboto Condensed';
	    text-anchor: middle;
		}


	}

	.map {
		width: 100%;

		@include respond($screen-sm) {
			float: right;
		}
	}
}

