@import "bootstrap/variables";
@import "bourbon/bourbon";
@import "variables";
@import "mixins";

body {
	overflow: hidden;
	margin-top: 0;
}

// Move Zoom control down slightly
.leaflet-top .leaflet-control {
	margin-top: 61px ;
}

// Translucent Navbar
header.navbar {
	background-color: rgba(5, 17, 18, 0.6);
	z-index: 2;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	text-shadow: 1px 1px 2px #000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: inherit;
}

// Hide User Echo widget in small layouts
.ue-tab-container {
	opacity: 0;
	@include transition(opacity 0.25s ease-in-out);

	@include respond($screen-sm) {
		opacity: 1;
	}

}

#map {
	background-color: #051111;
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index: 1;
}

@import "map/history";

@import "map/sidebar";

@import "map/sprites";

/* Layers Modal */
#icons-modal {
	.modal-body {
		max-height: inherit;
	}

	input[type=checkbox] {
		height: 32px;
		line-height: 32px;
		padding: 0;
		margin-top: 0;
	}

	label {
		height: 32px;
		line-height: 32px;
		margin: 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.icon {
		vertical-align: top;
	}

	.icon.capture-point { top: 0;}
	.icon.spawn-control-unit { width: 64px;}

	hr {
		margin: 5px 0;
	}
}

/* Leaftlet.label */

.leaflet-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 6;
	color: #FFF;
	width: 100px;
	position: absolute;
	text-align: center;
	left: -50px;
	top: 18px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Roboto Condensed';
	text-shadow: #000 2px 2px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	pointer-events: none;
}

.label-capture-point {
	top: -10px;
	left: -41px;
	font-size: 16px;
}

/* Leaflet.divLayer */
.leaflet-divlayer {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100px;
	font-family: 'Roboto Condensed';
	text-shadow: #000 2px 2px 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	margin-left: -50px;
	margin-top: -8px;
	text-align: center;
	pointer-events: none;
	position: absolute;
}

.gridLabel {
	width: 50px;
	font-size: 12px;
	line-height: 12px;
	margin-left: 2px;
	margin-top: 2px;
	text-align: left;
	color: rgba(255,255,255,0.65);
}

/* Misc */
.no-localstorage .old-browser-container,
.no-svg .old-browser-container,
.no-inlinesvg .old-browser-container,
.no-canvas .old-browser-container,
.no-canvastext .old-browser-container {
	display: block;
}

#navbar-permalink {
	width: 20px;
	height: 20px;
}

#navbar-search input.hidden {
	display: none;
}

#permalink-modal {
	width: 580px;
}

.nomouse { pointer-events: none; }
/* Responsive */

@media (min-width: 980px) {

}

@media (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}
