/* line 6, ./map.scss */
body {
  overflow: hidden;
  margin-top: 0; }

/* line 12, ./map.scss */
.leaflet-top .leaflet-control {
  margin-top: 61px; }

/* line 17, ./map.scss */
header.navbar {
  background-color: rgba(5, 17, 18, 0.8);
  z-index: 2; }

/* line 22, ./map.scss */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  text-shadow: 1px 1px 2px #000; }

/* line 27, ./map.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: inherit; }

/* line 34, ./map.scss */
.ue-tab-container {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }
  @media only screen and (min-width: 768px) {
    /* line 34, ./map.scss */
    .ue-tab-container {
      opacity: 1; } }

/* line 44, ./map.scss */
#map {
  background-color: #051111;
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

/* line 57, ./map.scss */
.leaflet-pane {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }

/* line 58, ./map.scss */
.leaflet-regions-pane {
  z-index: 4; }

/* line 59, ./map.scss */
.leaflet-lattice-pane {
  z-index: 5; }

/* line 60, ./map.scss */
.leaflet-facilities-pane {
  z-index: 6; }

/* line 61, ./map.scss */
.leaflet-outposts-pane {
  z-index: 6; }

/* line 62, ./map.scss */
.leaflet-facilitiesLabels-pane {
  z-index: 7; }

/* line 63, ./map.scss */
.leaflet-outpostsLabels-pane {
  z-index: 7; }

/* line 2, map/_log.scss */
.log-window {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #CCC;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  /* line 11, map/_log.scss */
  .log-window .log-header {
    cursor: n-resize;
    height: 26px;
    line-height: 26px;
    border-width: 1px 0 1px 0;
    border-color: #333;
    border-style: solid; }
  /* line 20, map/_log.scss */
  .log-window .log-body {
    position: relative; }
  /* line 24, map/_log.scss */
  .log-window .log-list {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    position: relative; }
    /* line 30, map/_log.scss */
    .log-window .log-list a {
      color: #CCC; }
  /* line 35, map/_log.scss */
  .log-window .timestamp {
    margin-right: 5px; }
  /* line 40, map/_log.scss */
  .log-window .filters {
    border-top: 1px solid #333;
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%; }
    /* line 47, map/_log.scss */
    .log-window .filters span {
      margin-right: 10px; }
    /* line 51, map/_log.scss */
    .log-window .filters input {
      position: relative;
      top: 2px; }
    /* line 56, map/_log.scss */
    .log-window .filters label {
      font-weight: normal; }
  /* line 61, map/_log.scss */
  .log-window .facility-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px; }
  /* line 69, map/_log.scss */
  .log-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    /* line 74, map/_log.scss */
    .log-window ul li {
      border-bottom: 1px solid #333;
      line-height: 30px;
      height: 30px; }

/* line 1, map/_sidebar.scss */
#sidebar {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
  height: 100%;
  color: #FFF;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: right 0.25s;
  -moz-transition: right 0.25s;
  -webkit-transition: right 0.25s;
  -o-transition: right 0.25s; }
  /* line 19, map/_sidebar.scss */
  #sidebar.closed {
    right: -170px; }
    /* line 22, map/_sidebar.scss */
    #sidebar.closed #sidebar_handle {
      background-color: #EEE;
      border-color: #888; }
    /* line 27, map/_sidebar.scss */
    #sidebar.closed #handle {
      margin-left: 6px;
      border-right: 6px solid #000;
      border-left: none; }

/* line 35, map/_sidebar.scss */
#sidebar_handle {
  display: block;
  position: absolute;
  right: 169px;
  top: 42px;
  border: 1px solid #333;
  border-right: 0;
  background-color: #000;
  height: 25px;
  width: 20px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
  pointer-events: auto; }
  /* line 56, map/_sidebar.scss */
  #sidebar_handle #handle {
    margin: 6px 0 0 8px;
    border-left: 6px solid #FFF;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: none;
    display: inline-block;
    width: 0;
    height: 0;
    content: '';
    opacity: 0.5;
    filter: alpha(opacity=30);
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear; }
    /* line 72, map/_sidebar.scss */
    #sidebar_handle #handle:hover {
      opacity: 1; }

/* line 77, map/_sidebar.scss */
#sidebar_content {
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: 40px;
  padding: 2px; }
  /* line 92, map/_sidebar.scss */
  #sidebar_content hr {
    margin: 5px 0 5px;
    border-bottom-width: 0;
    border-style: dotted;
    border-color: #999; }
  /* line 99, map/_sidebar.scss */
  #sidebar_content h2 {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    margin: 0 1px 5px; }
  /* line 107, map/_sidebar.scss */
  #sidebar_content::-webkit-scrollbar {
    width: 14px; }
  /* line 111, map/_sidebar.scss */
  #sidebar_content::-webkit-scrollbar-track {
    background: rgba(17, 17, 17, 0.7); }
  /* line 115, map/_sidebar.scss */
  #sidebar_content::-webkit-scrollbar-thumb {
    background: #111;
    border: 1px solid #444; }
  /* line 120, map/_sidebar.scss */
  #sidebar_content::-webkit-scrollbar-button {
    height: 0;
    width: 0; }
  /* line 125, map/_sidebar.scss */
  #sidebar_content label {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0; }
  /* line 131, map/_sidebar.scss */
  #sidebar_content input[type=checkbox] {
    float: right;
    margin-left: 5px; }
  /* line 136, map/_sidebar.scss */
  #sidebar_content .radio,
  #sidebar_content .checkbox {
    padding-left: 0; }
  /* line 141, map/_sidebar.scss */
  #sidebar_content .accordion {
    margin: 0;
    pointer-events: auto; }
  /* line 146, map/_sidebar.scss */
  #sidebar_content .accordion-group {
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  /* line 156, map/_sidebar.scss */
  #sidebar_content .accordion-heading {
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    text-align: center;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    background-color: #222222;
    background-image: -webkit-linear-gradient(#222222, #111111);
    background-image: linear-gradient(#222222, #111111);
    border: 1px solid #333; }
    /* line 165, map/_sidebar.scss */
    #sidebar_content .accordion-heading a {
      color: #999;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      transition: all .1s linear; }
    /* line 172, map/_sidebar.scss */
    #sidebar_content .accordion-heading a:hover {
      text-decoration: none;
      color: #FFF;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4); }
  /* line 179, map/_sidebar.scss */
  #sidebar_content .accordion-inner {
    background: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    border: 1px solid #333;
    border-top: none;
    padding: 10px 5px 10px 5px; }
  /* line 187, map/_sidebar.scss */
  #sidebar_content .accordion-toggle {
    padding: 0; }

/* Sidebar Territory Info */
/* line 193, map/_sidebar.scss */
#territory-info {
  text-shadow: 1px 2px 2px #000; }
  /* line 196, map/_sidebar.scss */
  #territory-info .initial {
    text-align: center; }
  /* line 200, map/_sidebar.scss */
  #territory-info.nc {
    background-color: blue;
    background-image: -webkit-linear-gradient(blue, rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(blue, rgba(0, 0, 0, 0.7));
    padding-left: 5px; }
  /* line 205, map/_sidebar.scss */
  #territory-info.tr {
    background-color: red;
    background-image: -webkit-linear-gradient(red, rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(red, rgba(0, 0, 0, 0.7));
    padding-left: 5px; }
  /* line 210, map/_sidebar.scss */
  #territory-info.vs {
    background-color: #660099;
    background-image: -webkit-linear-gradient(#660099, rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(#660099, rgba(0, 0, 0, 0.7));
    padding-left: 5px; }
  /* line 215, map/_sidebar.scss */
  #territory-info .territory-icon {
    position: absolute;
    top: 2px;
    width: 32px;
    height: 32px; }
  /* line 222, map/_sidebar.scss */
  #territory-info .territory-name {
    font-size: 16px;
    position: relative;
    left: 36px;
    width: 106px;
    min-height: 32px; }
  /* line 230, map/_sidebar.scss */
  #territory-info .resource-icon {
    width: 32px;
    height: 32px;
    position: absolute; }
  /* line 236, map/_sidebar.scss */
  #territory-info .resource {
    position: relative;
    left: 36px; }
  /* line 241, map/_sidebar.scss */
  #territory-info .resource-name {
    line-height: 32px; }
  /* line 245, map/_sidebar.scss */
  #territory-info .faction-icon {
    width: 32px;
    height: 32px;
    position: absolute; }
  /* line 251, map/_sidebar.scss */
  #territory-info .faction-name {
    line-height: 32px;
    position: relative;
    left: 36px; }
  /* line 257, map/_sidebar.scss */
  #territory-info .captured {
    text-align: center; }

/* Sidebar Stats */
/* line 266, map/_sidebar.scss */
#sidebar-stats .header .resource-icon {
  position: absolute; }
/* line 270, map/_sidebar.scss */
#sidebar-stats .header .resource-name {
  height: 32px;
  line-height: 32px;
  position: relative;
  left: 32px; }

/* line 278, map/_sidebar.scss */
#aerospaceChartContainer {
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, #1bc263);
  background-image: linear-gradient(transparent, #1bc263);
  border: 2px solid #1BC263; }

/* line 283, map/_sidebar.scss */
#mechanizedChartContainer {
  margin-top: 5px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, #cc881b);
  background-image: linear-gradient(transparent, #cc881b);
  border: 2px solid #CC881B; }

/* line 289, map/_sidebar.scss */
#infantryChartContainer {
  margin-top: 5px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent, #f2ef22);
  background-image: linear-gradient(transparent, #f2ef22);
  border: 2px solid #F2EF22; }

/* line 295, map/_sidebar.scss */
.accordion-heading#user-echo-button {
  height: 30px; }

/* line 299, map/_sidebar.scss */
#user-echo-button .icon-comment {
  margin-top: 3px; }

/* line 303, map/_sidebar.scss */
#territoryRadioButtons .btn {
  color: rgba(255, 255, 255, 0.5); }

/* line 307, map/_sidebar.scss */
#territoryRadioButtons .btn.active {
  color: white; }

/* line 1, map/_sprites.scss */
#svg-sprites-container {
  display: none; }

/* line 5, map/_sprites.scss */
.svgIcon {
  pointer-events: none; }

/* line 9, map/_sprites.scss */
svg.marker-icon {
  fill: #79e0e1; }
  /* line 13, map/_sprites.scss */
  svg.marker-icon.nc {
    fill: #33ADFF; }
  /* line 14, map/_sprites.scss */
  svg.marker-icon.tr {
    fill: #DF2020; }
  /* line 15, map/_sprites.scss */
  svg.marker-icon.vs {
    fill: #9E52E0; }

/* line 18, map/_sprites.scss */
.myDivIcon {
  pointer-events: none; }

/* line 25, map/_sprites.scss */
.oldicons {
  background-image: url(../img/icons/sprites.png);
  pointer-events: none;
  height: 32px;
  width: 32px;
  display: inline-block; }
  /* line 32, map/_sprites.scss */
  .oldicons.warpgate {
    background-position: 0px 0px; }
  /* line 33, map/_sprites.scss */
  .oldicons.warpgate.nc {
    background-position: 0px -32px; }
  /* line 34, map/_sprites.scss */
  .oldicons.warpgate.tr {
    background-position: 0px -64px; }
  /* line 35, map/_sprites.scss */
  .oldicons.warpgate.vs {
    background-position: 0px -96px; }
  /* line 37, map/_sprites.scss */
  .oldicons.amp-station {
    background-position: -32px 0px; }
  /* line 38, map/_sprites.scss */
  .oldicons.amp-station.nc {
    background-position: -32px -32px; }
  /* line 39, map/_sprites.scss */
  .oldicons.amp-station.tr {
    background-position: -32px -64px; }
  /* line 40, map/_sprites.scss */
  .oldicons.amp-station.vs {
    background-position: -32px -96px; }
  /* line 42, map/_sprites.scss */
  .oldicons.bio-lab {
    background-position: -64px 0px; }
  /* line 43, map/_sprites.scss */
  .oldicons.bio-lab.nc {
    background-position: -64px -32px; }
  /* line 44, map/_sprites.scss */
  .oldicons.bio-lab.tr {
    background-position: -64px -64px; }
  /* line 45, map/_sprites.scss */
  .oldicons.bio-lab.vs {
    background-position: -64px -96px; }
  /* line 47, map/_sprites.scss */
  .oldicons.tech-plant {
    background-position: -96px 0px; }
  /* line 48, map/_sprites.scss */
  .oldicons.tech-plant.nc {
    background-position: -96px -32px; }
  /* line 49, map/_sprites.scss */
  .oldicons.tech-plant.tr {
    background-position: -96px -64px; }
  /* line 50, map/_sprites.scss */
  .oldicons.tech-plant.vs {
    background-position: -96px -96px; }
  /* line 52, map/_sprites.scss */
  .oldicons.large-outpost {
    background-position: -128px 0px; }
  /* line 53, map/_sprites.scss */
  .oldicons.large-outpost.nc {
    background-position: -128px -32px; }
  /* line 54, map/_sprites.scss */
  .oldicons.large-outpost.tr {
    background-position: -128px -64px; }
  /* line 55, map/_sprites.scss */
  .oldicons.large-outpost.vs {
    background-position: -128px -96px; }
  /* line 57, map/_sprites.scss */
  .oldicons.small-outpost {
    background-position: -160px 0px; }
  /* line 58, map/_sprites.scss */
  .oldicons.small-outpost.nc {
    background-position: -160px -32px; }
  /* line 59, map/_sprites.scss */
  .oldicons.small-outpost.tr {
    background-position: -160px -64px; }
  /* line 60, map/_sprites.scss */
  .oldicons.small-outpost.vs {
    background-position: -160px -96px; }
  /* line 62, map/_sprites.scss */
  .oldicons.forward-spawn {
    background-position: -96px -160px; }
  /* line 63, map/_sprites.scss */
  .oldicons.aircraft-terminal {
    background-position: 0px -128px; }
  /* line 64, map/_sprites.scss */
  .oldicons.galaxy-terminal {
    background-position: 0px -160px; }
  /* line 65, map/_sprites.scss */
  .oldicons.ground-vehicle-terminal {
    background-position: -32px -128px; }
  /* line 66, map/_sprites.scss */
  .oldicons.ground-transport-terminal {
    background-position: -32px -160px; }
  /* line 67, map/_sprites.scss */
  .oldicons.equipment-terminal {
    background-position: -64px -128px; }
  /* line 68, map/_sprites.scss */
  .oldicons.warpgate-terminal {
    background-position: -64px -160px; }
  /* line 69, map/_sprites.scss */
  .oldicons.spawn-beacon {
    background-position: -96px -128px; }
  /* line 70, map/_sprites.scss */
  .oldicons.vertical-shield-generator {
    background-position: -224px -32px; }
  /* line 71, map/_sprites.scss */
  .oldicons.horizontal-shield-generator {
    background-position: -224px -64px; }
  /* line 72, map/_sprites.scss */
  .oldicons.gate-shield-generator {
    background-position: -128px -128px; }
  /* line 73, map/_sprites.scss */
  .oldicons.spawn-control-unit {
    background-position: -128px -160px; }
  /* line 74, map/_sprites.scss */
  .oldicons.teleporter {
    background-position: -224px -96px; }
  /* line 75, map/_sprites.scss */
  .oldicons.spawn-tube {
    background-position: -224px -128px; }
  /* line 76, map/_sprites.scss */
  .oldicons.ammo-tower {
    background-position: -224px -160px; }
  /* line 77, map/_sprites.scss */
  .oldicons.landing-pad {
    background-position: -256px 0px; }
  /* line 78, map/_sprites.scss */
  .oldicons.scu-shield-generator {
    background-position: -160px -128px; }
  /* line 79, map/_sprites.scss */
  .oldicons.capture-point {
    background-position: -192px 0px; }
  /* line 80, map/_sprites.scss */
  .oldicons.nc {
    background-position: -192px -32px; }
  /* line 81, map/_sprites.scss */
  .oldicons.tr {
    background-position: -192px -64px; }
  /* line 82, map/_sprites.scss */
  .oldicons.vs {
    background-position: -192px -96px; }
  /* line 83, map/_sprites.scss */
  .oldicons.aerospace {
    background-position: -192px -128px; }
  /* line 84, map/_sprites.scss */
  .oldicons.mechanized {
    background-position: -192px -160px; }
  /* line 85, map/_sprites.scss */
  .oldicons.infantry {
    background-position: -224px 0px; }

@media only screen and (min-width: 768px) {
  /* line 72, ./map.scss */
  #settings-modal {
    margin-top: 60px; } }

/* Layers Modal */
/* line 80, ./map.scss */
#icons-modal .modal-body {
  max-height: inherit; }
/* line 84, ./map.scss */
#icons-modal input[type=checkbox] {
  height: 32px;
  line-height: 32px;
  padding: 0;
  margin-top: 0; }
/* line 91, ./map.scss */
#icons-modal label {
  height: 32px;
  line-height: 32px;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
/* line 103, ./map.scss */
#icons-modal .icon {
  vertical-align: top; }
/* line 107, ./map.scss */
#icons-modal .icon.capture-point {
  top: 0; }
/* line 108, ./map.scss */
#icons-modal .icon.spawn-control-unit {
  width: 64px; }
/* line 110, ./map.scss */
#icons-modal hr {
  margin: 5px 0; }

/* Leaftlet.label */
/* line 117, ./map.scss */
.leaflet-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 6;
  color: #FFF;
  width: 100px;
  position: absolute;
  text-align: center;
  left: -50px;
  top: 14px;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto Condensed';
  text-shadow: #000 2px 2px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none; }

/* line 140, ./map.scss */
.label-capture-point {
  top: -10px;
  left: -41px;
  font-size: 16px; }

/* Leaflet.divLayer */
/* line 147, ./map.scss */
.leaflet-divlayer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100px;
  font-family: 'Roboto Condensed';
  text-shadow: #000 2px 2px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-left: -50px;
  margin-top: -8px;
  text-align: center;
  pointer-events: none;
  position: absolute; }

/* line 169, ./map.scss */
.gridLabel {
  width: 50px;
  font-size: 12px;
  line-height: 12px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.65); }
