.svg-icon {
	pointer-events: none;

	svg {
		// Nanite Systems Color
		fill: #79e0e1;
		width: 24px;
		height: 24px;
	}

	&.svg-icon-large {
		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.myDivIcon {
	pointer-events: none;
}
