.svg-icon {
	pointer-events: none;

	svg {
		// Nanite Systems Color (default)
		fill: #79e0e1;
	}

	&.svg-icon-large {
		svg {
			width: 24px;
			height: 24px;
		}
	}

	&.svg-icon-medium {
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&.svg-icon-small {
		svg {
			width: 16px;
			height: 16px;
		}
	}
}

.myDivIcon {
	pointer-events: none;
}
